@tailwind base;
@tailwind components;
@tailwind utilities;

.note-height{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-title{
    width: -webkit-fill-available
}

body{
    background-color: #EBE5C1;
}